ion-content(padding class="aniUI")
    div((click)="touch()" class="circle")
        h3 {{presentData}}
    div((click)="close()"  class="exit")
        ion-icon(md="md-close")
    div(class="candyBar")    