ion-content(padding class="css3dProject")
    div((click)="act(1)" class="animation-object" )
        ion-icon(md="md-heart")
    div((click)="act(2)" class="animation-object" )
        ion-icon(md="md-heart")
    div((click)="act(3)" class="animation-object" )
        ion-icon(md="md-heart")
    div((click)="close()" class="exit-button")
        ion-icon(md="md-close")