ion-header
  ion-navbar
    ion-title Pixi Example
    button((click)="close()" menuToggle)
        ion-icon(md="md-arrow-round-back" style="color : #fff; font-weight : 700")
ion-content(padding class="pixiApplication")
    button((click)="run()" class="button-full") Start PIXI
    div(id="PIXI")