ion-header
  ion-navbar
    ion-title MIRO Interaction Lab
    


ion-content(padding class="home" )   
    hello-miro
    ion-infinite-scroll((ionInfinite)="doInfinite($event)" )
        ion-infinite-scroll-content