ion-content(class="bitcoin")
    ion-icon((click)="close()" name="md-close")
    center
        div(class="Count")
            h2 Busking Coin
            h1 {{Bit_Coin}}
    button((click)="charge()" class="button_class") 충전하기        