//#F6F39F#FED08F#F392F2#B062EA
.Main {
    overflow: hidden;
    
    footer {
        text-align: center;
        color: #ddd;
        font-size: 3vmax;
    }
    .Coin-button {
        position: relative;
        z-index: -1;
        margin: 30vmax auto;
        border-radius: 100%;
        width: 30vmax;
        height: 30vmax;
        background: #F6F39F;
        animation-duration: 5s;
        animation-name: rolling;
        animation-iteration-count: infinite;
    }
    .Coin-text {
        position: relative;
        z-index: 0;
        margin: 38vmax auto;
        text-align: center;
        color: #555;
        font-size: 7vmax;
    }
    .Coin-howl {
        position: relative;
        margin: -54vmax auto;
        z-index: -2;
        border: 10px solid #fff;
        border-radius: 100%;
        width: 20vmax;
        height: 20vmax;
        animation-duration: 5s;
        animation-name: howling;
        animation-iteration-count: infinite;
    }
    @keyframes rolling {
        0% {
            transform: rotateZ(0deg);
            border-radius: 0%;
        }
        25% {
            transform: rotateZ(90deg);
            border-radius: 20%;
        }
        50% {
            transform: rotateZ(180deg);
            border-radius: 30%;
        }
        75% {
            transform: rotateZ(270deg);
            border-radius: 100%;
        }
        100% {
            transform: rotateZ(360deg);
            border-radius: 0%;
        }
    }
    @keyframes howling {
        0% {
            transform: scale(0) rotateZ(0deg);
            border: 30px solid #fff;
            opacity: 0.5;
        }
        10% {
            border-radius: 0%;
        }
        100% {
            transform: scale(3) rotateZ(360deg);
            border: 0px dotted #fff;
            opacity: 0;
            border-radius: 100%;
        }
    }
}
