//#084A83#539DDB#C6E5F3
.Main {
    overflow: hidden;
    footer {
        text-align: center;
        color: #888;
        font-size: 3vmax;
        font-weight: 600;
    }
    .Coin_button {
        position: relative;
        z-index: -1;
        margin: 30vmax auto;
        border-radius: 100%;
        width: 30vmax;
        height: 30vmax;
        background: #539DDB;
    }
    .Coin_text {
        position: relative;
        z-index: 0;
        margin: 38vmax auto;
        text-align: center;
        color: #fff;
        font-size: 7vmax;
    }
    .Coin_howl {
        position: relative;
        margin: -54vmax auto;
        z-index: -2;
        border: 10px solid #539DDB;
        border-radius: 100%;
        width: 20vmax;
        height: 20vmax;
    }
    .Coin_side_menu {
        opacity: 0;
        position: fixed;
        margin-left: 100%;
        width: 100%;
        margin-top: 70vmax;
        button {
            width: 8vmax;
            height: 8vmax;
            margin: auto 5%;
            border-radius: 100%;
            ion-icon {
                color: #fff;
                font-size: 5vmax;
            }
        }
    }
}

.bitcoin {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: show-up;
    opacity: 1;
    background-color: #00AD7C;
    ion-icon {
        position: fixed;
        left: 80%;
        top: 5%;
        color: #fff;
        font-size: 8vmax;
        animation-name: close_motion;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
    .Count {
        position: relative;
        margin-top: 60%;
        h1 {
            font-weight: 700;
            color: #fff;
            font-size: 10vmax;
            animation-name: close_motion;
            animation-iteration-count: 1;
            animation-duration: 2s;
        }
        h2 {
            font-weight: 600;
            color: #ddd;
            font-size: 5vmax;
        }
    }
    .button_class {
        position: fixed;
        top: 78%;
        height: 10%;
        width: 100%;
        font-weight: 700;
        background-color: #E87811;
        font-size: 3vmax;
    }
    .button_class:active {
        background-color: #FFa851;
        opacity: 0.5;
    }
}

.heart {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: show-up;
    opacity: 1;
    background-color: #FCE7EB;
    ion-icon {
        position: fixed;
        left: 80%;
        top: 5%;
        color: #FF88FC;
        font-size: 8vmax;
        animation-name: close_motion;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
    .Count {
        position: fixed;
        margin: 5% 5%;
        h1 {
            font-weight: 800;
            color: #53DBD5;
            font-size: 5vmax;
            margin-top: -3%;
            animation-name: close_motion;
            animation-iteration-count: 1;
            animation-duration: 2s;
        }
        h2 {
            font-weight: 600;
            color: #888;
            font-size: 3vmax;
        }
    }
    ion-slides {
        animation-fill-mode: forwards;
        animation-name: show-up-opacity;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        opacity: 0;
    }
    ion-slide {
        h2 {
            color: #888;
            font-size: 6vmax;
            font-weight: 700;
        }
    }
}

.user {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: show-up;
    opacity: 1;
    background-color: #aaa;
    ion-icon {
        position: fixed;
        left: 80%;
        top: 5%;
        color: #fff;
        font-size: 8vmax;
        animation-name: close_motion;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
    .person {
        position: fixed;
        top: 20%;
        left: 18%;
        font-size: 30vmax;
        animation-name: null;
        h1 {
            font-weight: 700;
            font-size: 5vmax;
            color: #fff;
        }
        h2 {
            font-weight: 600;
            margin-top: 5%;
            font-size: 4vmax;
            color: #eee;
        }
    }
    .button_class {
        position: fixed;
        top: 78%;
        height: 10%;
        width: 100%;
        font-weight: 700;
        background-color: #a83322;
        font-size: 3vmax;
    }
    .button_class:active {
        background-color: #d83322;
        opacity: 0.2;
    }
}

@keyframes show-up {
    0% {
        margin-top: 300%;
    }
    100% {
        margin-top: 0%;
    }
}

@keyframes close_motion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show-up-opacity {
    0% {
        margin-top: 300%;
        opacity: 0;
    }
    25% {
        margin-top: 30%;
    }
    75% {
        margin-top: 60%;
    }
    100% {
        margin-top: 0%;
        opacity: 1;
    }
}

.toast-container {
    background-color: #00AD7C;
    div {
        color: #fff;
        font-weight: 700;
    }
    button {
        color: #fcfcff;
        font-weight: 500;
    }
}