ion-content(class="Busker")
    ion-icon((click)="close()" name="md-close")
    div([hidden] = "state_flag" class="connection")
        h1 wait
        h2 사물과 연결을 시도합니다 (터치꾸욱 누르면 재연결).
    div([hidden] = "!state_flag" class="panel")
        center
        div(class="Count")
            h2 실시간 호감도
            h1(style="color : #F85F73") {{real_time_heart}}
            h2 실시간 비트코인
            h1 {{real_time_bitcoin}}    